<div class="container">
  <div class="row">
    <h2>Balance chart</h2>
  </div>
  <div class="row">
    <form class="form-inline" action="/balance" method="get">
      <div class="form-group mb-2">
        <label for="days">For last days:</label>
        <input class="form-control" type="text" name="days" value="<%= days %>">
      </div>
      <button type="submit" class="btn-sm btn-primary"> Get </button>
    </form>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= line_chart @chart %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Spread Statsistic</h2>
      <table class="table">
        <thead>
          <th></th>
          <th>wins</th>
          <th>loses</th>
        </thead>
        <tbody>
            <% @binance_stats.each do |symbol, results| %>
              <tr>
                <td><%= symbol %></td>
                <td><%= results[:wins] %></td>
                <td><%= results[:loses] %></td>
              </tr>
            <%  end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

